*[
   padding:0;
   margin:0;
   box-sizing:border-box;
   
]

















.sl{
   font-size: 40px;
   color:dimgray ;
   background-color:lightpink;
   align-items: center;
   
}






















@media (min-width: 768px)
<style>
.eitLxm {
    max-width: 768px;
    width: 100%;
}
<style>
.eitLxm {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}








































